<video class="video-js vjs-big-play-centered vjs-16-9" controls preload="none" data-setup="{}">
	<source <%= @video.url %> type="application/x-mpegURL">
	<p class="vjs-no-js"><%= t(:javascript_failed) %> <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
<br/>
<div class="row">
	<div class="col-md-9 text-left">
		<h5><strong><%= @video.name %></strong></h5>
	</div>
	<div class="col-md-3 text-left">
		<h5><%= @video.views %> <%= t(:views, scope: 'activerecord.attributes.video') %></h5>
	</div>
</div>

<%= content_for :scripts do %> 
  <script type='text/javascript'>
		var first_view = false
		$('video').bind('play', function (e) {
			if (first_view == false) {
				first_view = true;
				<%= @video.update(views: @video.views + 1) %>
			}
		});
  </script>
<% end %>
