<%% content_for :right do %>
	<%%= link_to t(:back), <%= index_helper %>_path, class: 'btn btn-primary' %>
	<%%= link_to t(:edit_resource, resource: t("<%= singular_table_name %>", scope: 'activerecord.models')), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary' %>
<%% end %>

<div class="row">
	<% attributes.each do |attribute| -%>
		<div class="col-lg-4">
			<p>
				<small><%%= t(:<%= attribute.name %>, scope: "activerecord.attributes.<%= singular_table_name %>") %>:</small>
				<h3><%%= @<%= singular_table_name %>.<%= attribute.name %> %></h3>
			</p>
		</div>
	<% end -%>
</div>
